.volume__scale {
  position: absolute;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 22px;
  left: 22px;
}

.volume__slider {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 18px;
  left: 57px;
  border-radius: 50%;
  background-color: #ffffff;
}
