.about-city {
  margin-bottom: 38px;
}

.about-city__list {
  position: relative;
}

.about-city__title {
  font-size: 18px;
  font-weight: 700;
}

.about-city__description {
  font-size: 14px;
  color: #333333;
  padding-right: 20px;
  margin: 0;
}

.about-city__item {
  margin-left: 70px;
  text-transform: uppercase;
  text-align: left;
  position: relative;

  &--food::before {
    content: "";
    width: 76px;
    height: 69px;
    position: absolute;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: scale(0.5);
    top: -26px;
    left: -70px;
  }

  &--home::before {
    content: "";
    width: 75px;
    height: 73px;
    position: absolute;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: scale(0.5);
    top: -30px;
    left: -67px;
  }

  &--souvenirs::before {
    content: "";
    width: 63px;
    height: 75px;
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: scale(0.5);
    top: -33px;
    left: -61px;
  }
}

.about-city__item:nth-child(1) {
  line-height: 20px;
  margin-top: 38px;
}

.about-city__item:nth-child(2) {
  line-height: 20px;
  margin-top: 34px;
}

.about-city__item:nth-child(3) {
  line-height: 20px;
  margin-top: 33px;
}

@media (min-width: $tablet-width) {
  .about-city {
    margin-bottom: 0;
  }

  .about-city__list {
    display: flex;
    justify-content: space-around;
  }

  .about-city__title {
    margin-top: 110px;
  }

  .about-city__description {
    padding: 0;
  }

  .about-city__item {
    margin-left: 0;
    text-align: center;
    padding: 40px 40px;

    &--food {
      order: 2;
    }

    &--food::before {
      transform: scale(1);
      top: 63px;
      left: 92px;
    }

    &--home {
      order: 1;
    }

    &--home::before {
      transform: scale(1);
      top: 57px;
      left: 91px;
    }

    &--souvenirs {
      order: 3;
    }

    &--souvenirs::before {
      transform: scale(1);
      top: 60px;
      left: 91px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-city__item {
    &--food::before {
      left: 168px;
    }

    &--home::before {
      left: 164px;
    }

    &--souvenirs::before {
      left: 156px;
    }
  }
}
