.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
}

.copyright__text {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
}

.copyright__link {
  margin-left: 11px;
}

.copyright__link:hover {
  path {
    fill: #81b3d2;
  }
}

.copyright__link:active {
  path {
    fill: #000000;
    fill-opacity: 0.3;
  }
}
