.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__hashtag-link {
  font-size: 21px;
  font-weight: bold;
  margin: 41px 0;
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    width: $tablet-width;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: $desktop-width;
  }
}
