.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__hashtag-link {
  font-size: 21px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 36px;
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    width: 648px;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 960px;
  }
}
