.review {
  width: 280px;
  margin: 0 auto;
}

.review__title,
.introduce__title,
.contacts__title,
.impression__title,
.places__title,
.emotions__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.review__text {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
}

.places__label {
  font-size: 18px;
  font-weight: 700;
}

.contacts__input::placeholder,
.emotions__textarea::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.introduce__input {
  border: none;
  background-color: #f2f2f2;
  height: 56px;
  padding-left: 22px;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 26px;
}

.introduce__input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.introduce__label {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-right: 10px;
}

.introduce {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden; /*Как избежать?*/
}

.introduce__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contacts__input {
  border: none;
  background-color: #f2f2f2;
  height: 56px;
  padding-left: 22px;
  flex-grow: 1;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.emotions__textarea {
  width: 236px;
  height: 160px;
  background-color: #f2f2f2;
  padding: 22px;
  border: none;
  margin-bottom: 51px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.impression__wrapper,
.places__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 52px;
}

.contacts__wrapper-input {
  display: flex;
}

.contacts__input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.contacts__label {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-left: 22px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts {
  border-bottom: 1px solid #f2f2f2;
}

.impression__input {
  margin-right: 43px;
}

.impression__label {
  font-size: 18px;
  font-weight: 700;
}

.impression {
  border-bottom: 1px solid #f2f2f2;
}

.places__input {
  margin-right: 43px;
}

.places {
  border-bottom: 1px solid #f2f2f2;
}

.review__button {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .review {
    width: 648px;
    text-align: center;

    &__introduce {
      order: 2;
    }

    &__contacts {
      order: 3;
    }

    &__impression {
      order: 1;
    }

    &__places {
      order: 4;
    }

    &__emotions {
      order: 5;
    }

    &__button {
      order: 6;
    }
  }

  .introduce {
    width: 323px;
    background-color: red;

    &__title {
      margin-bottom: 48px;
      margin-left: 58px;
      text-align: left;
    }

    &__wrapper {
      margin-left: 58px;
    }
  }

  .contacts {
    background-color: tomato;
    width: 100%;
    position: relative;
    margin-top: 30px;

    &__title {
      font-size: 21px;
    }

    &__title::before {
      content: "";
      width: 124px;
      height: 1px;
      background-color: #f2f2f2;
      position: absolute;
      top: 31px;
      left: 0;
    }

    &__title::after {
      content: "";
      width: 124px;
      height: 1px;
      background-color: #f2f2f2;
      position: absolute;
      top: 31px;
      right: 0;
    }

    &__label {
      align-self: flex-start;
    }
  }

  .places {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;

    &__title {
      margin: 0 148px;
      margin-bottom: 65px;
    }

    &__title::before {
      content: "";
      width: 124px;
      height: 1px;
      background-color: #f2f2f2;
      position: absolute;
      top: 18px;
      left: 0;
    }

    &__title::after {
      content: "";
      width: 124px;
      height: 1px;
      background-color: #f2f2f2;
      position: absolute;
      top: 18px;
      right: 0;
    }

    &__wrapper {
      width: 50%;
    }

    &__label {
      margin-left: 50px;
    }
  }

  .impression {
    width: 323px;
    background-color: red;

    &__wrapper {
      margin-bottom: 60px;
    }

    &__title {
      margin-bottom: 62px;
    }
  }

  .emotions {
    margin-top: 40px;
    position: relative;

    &__title {
      font-size: 21px;
      width: 648px;
      margin-bottom: 60px;
    }

    &__title::before {
      content: "";
      width: 124px;
      height: 1px;
      background-color: #f2f2f2;
      position: absolute;
      top: 31px;
      left: 0;
    }

    &__title::after {
      content: "";
      width: 124px;
      height: 1px;
      background-color: #f2f2f2;
      position: absolute;
      top: 31px;
      right: 0;
    }
  }

  .emotions__wrapper {
    display: flex;
  }

  .emotions__textarea {
    width: 100%;
  }

  .review__form {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    position: relative;
    margin-bottom: 50px;
  }

  .review__title {
    margin-top: 71px;
    font-size: 30px;
  }

  .review__text {
    width: 439px;
    display: inline-block;
    margin-bottom: 66px;
  }

  .review__button::before {
    content: "* — обязательные поля";
    position: absolute;
    bottom: 17px;
    right: 0;
    font-size: 14px;
    color: #333333;
  }
}

@media (min-width: $desktop-width) {
  .review {
    width: 960px;
  }
}
