.interested {
  text-align: center;
  text-transform: uppercase;
}

.interested__wrapper {
  padding: 0 20px;
}

.interested__title {
  font-size: 21px;
  font-weight: 700;
}

.interested__text {
  font-size: 14px;
  color: #333333;
  margin-bottom: 40px;
}

.interested__map {
  position: relative;
}

@media (min-width: $tablet-width) {
  .interested__text {
    margin-left: 160px;
    margin-right: 160px;
  }
}
