@import "variables.scss";

.intro {
  margin: 0 auto;
  width: 270px;
}

.intro__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.intro__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.intro__h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.intro__text {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .intro {
    min-width: 490px;
  }
}
