.intro {
  margin-left: 32px;
  margin-right: 33px;
  margin-top: 43px;
  margin-bottom: 10px;
}

.intro__list {
  text-align: center;
}

.intro__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 44px;
}

.intro__text {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-left: 139px;
    margin-right: 139px;
    margin-top: 51px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-left: 355px;
    margin-right: 355px;
    margin-top: 51px;
    margin-bottom: 55px;
  }
}
