.main-nav__list {
  position: relative;
  z-index: 30;
  display: none;
}

.main-nav__list--open {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav__list--open {
    display: flex;
  }
}
