.map__marker {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 161px;
  left: 146px;
}

@media (min-width: $tablet-width) {
  .map__marker {
    left: 370px;
  }
}

@media (min-width: $desktop-width) {
  .map__marker {
    left: 586px;
  }
}
