.message {
  display: none;
  text-align: center;
  width: 320px;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  text-transform: uppercase;
  position: absolute;
  z-index: 30;
  top: 1320px;
  left: 0;
  background: #ffffff;

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 38px;
    display: inline-block;
    line-height: 28px;
    margin-bottom: 6px;
  }

  &__text {
    font-size: 14px;
    margin-left: 56px;
    margin-right: 57px;
    margin-bottom: 29px;
    line-height: 24px;
  }

  &__text--send {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 54px;
    margin-right: 54px;
    margin-bottom: 37px;
    line-height: 24px;
  }

  &__wrapper {
    background-color: #f2f2f2;
    padding: 20px;
  }

  &__button {
    padding: 17px 66px;
    white-space: nowrap;
  }

  &__button--error {
    padding: 17px 76px;
    margin-bottom: 35px;
  }
}

.message--send {
  display: none;
  top: 1647px;
  left: 0;
}

@media (min-width: $tablet-width) {
  .message {
    width: 400px;
    top: 1430px;
    left: 184px;

    &__title {
      font-size: 30px;
      margin-top: 53px;
      line-height: 40px;
      margin-right: 75px;
      margin-left: 75px;
      margin-bottom: 6px;
    }

    &__button--error {
      padding: 17px 123px;
      margin-bottom: 49px;
    }

    &__text {
      margin-bottom: 39px;
    }

    &__text--send {
      margin-left: 110px;
      margin-right: 110px;
      margin-bottom: 34px;
    }

    &__wrapper {
      padding: 44px 91px;
    }

    &__button {
      padding: 17px 155px;
    }
  }

  .message--send {
    width: 640px;
    top: 1009px;
    left: 64px;
  }
}

@media (min-width: $desktop-width) {
  .message {
    top: 1391px;
    left: 400px;
  }

  .message--send {
    top: 940px;
    left: 279px;
  }
}
