.page-photo {
  width: 320px;
  margin: 0 auto;
}

.photo-cards {
  width: 320px;
  margin: 0 auto;
}

.photo-cards__item {
  position: relative;
  text-align: left;
  margin: 0 20px;
}

.photo-cards__item::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 0;
  left: -20px;
}

@media (min-width: $tablet-width) {
  .page-photo,
  .photo-cards {
    width: $tablet-width;
  }

  .photo-cards__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 60px;
  }

  .photo-cards__item {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    border-bottom: none;
    background-color: #f2f2f2;
    margin: 0;
  }

  .photo-cards__item:nth-child(3) {
    background-color: #eaeaea;
  }

  .card__wrapper {
    display: flex;
    flex-direction: column;
    align-content: baseline;
  }

  .photo-cards__item:nth-child(1) {
    width: 100%;
  }

  .photo-cards__item::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-photo,
  .photo-cards {
    width: $desktop-width;
  }

  .photo-cards__list {
    margin: 0;
  }

  .photo-cards__item:nth-child(1) {
    width: $desktop-width;
  }

  .photo-cards__item {
    margin: 0;
  }
}
