.reason__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #81b3d2;
}

.reason__item {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.reason__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.reason__number,
.reason__description {
  font-size: 14px;
}

@media (min-width: $tablet-width) {
  .reason {
    margin: 0 auto;
  }

  .reason__list {
    display: flex;
    align-items: center;
  }

  .reason__item:nth-child(2n + 1) {
    width: 162px;
    padding: 47px;
  }

  .reason__item svg {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reason__wrapper:nth-child(4) {
    .reason__item:nth-child(2) {
      order: 1;
    }

    .reason__item:nth-child(1) {
      order: 2;
    }
  }
}
