.short__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.short__item {
  text-transform: uppercase;
}

.short__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.short__number,
.short__description {
  font-size: 14px;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .short__list {
    display: flex;
  }
}
