.volume__scale {
  position: absolute;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 22px;
  left: 22px;
}

.volume__slider {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 18px;
  left: 57px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .volume__scale {
    width: 389px;
    top: 45px;
    left: 93px;
  }

  .volume__slider {
    top: 41px;
    left: 205px;
  }
}
