.about-city__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .about-city__item {
    width: 210px;
    text-transform: uppercase;
    text-align: left;
  }

  .about-city__title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  .about-city__description {
    font-size: 14px;
    color: #333333;
  }
