.page-footer__social {
  width: 320px;
}

.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.hashtag__text {
  font-size: 21px;
  font-weight: bold;
  margin: 41px 0;
  display: inline-block;
}

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.social__link {
  display: flex;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.social__link path {
  fill: #ffffff;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: 14px;
  text-transform: uppercase;
}

.copyright__link {
  margin-left: 11px;
}
