@mixin big {
  font-size: 18px;
  font-weight: 700;
}

@mixin up {
  text-transform: uppercase;
}

@mixin text {
  font-size: 14px;
  color: #333333;
}

.page-form {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.review {
  width: 280px;
  margin: 0 auto;
}

.review__text {
  width: 276px;
  text-align: center;
}

.review__title,
.introduce__title,
.contacts__title,
.impression__title,
.places__title,
.emotions__title {
  @include big;
  @include up;
  text-align: center;
}

.review__text,
.introduce__label,
.contacts__label {
  @include text;
  @include up;
}

.impression__label,
.places__label {
  @include big;
}

.introduce__input::placeholder,
.contacts__input::placeholder,
.emotions__textarea::placeholder {
  @include big;
  color: #000000;
}

.emotions__textarea {
  width: 280px;
  height: 160px;
  background-color: #f2f2f2;
  padding: 0;
  border: none;
}

.impression__wrapper,
.place__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
}
