.mountain {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -28px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 389px;
}

.mountain__welcome {
  transform: scale(0.5);
}

.mountain__triangle {
  transform: translateX(70px);
  margin-top: auto;
}

.mountain__sedona {
  transform: scale(0.5);
  align-self: flex-end;
}
