.photo-head {
  min-height: 158px;
  background-position: 50% 100%;
}

.page-photo {
  width: 320px;
  margin: 0 auto;
}

.photo-cards {
  width: 280px;
  margin: 0 auto;
}

.photo-cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-cards__item {
  text-align: left;
}
