.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 49px;
}

.presentation__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.presentation__text {
  width: 236px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #333333;
}



