@charset "utf-8";
@import "fonts.scss";
@import "reason.scss";
@import "grey.scss";
@import "header.scss";
@import "intro.scss";
@import "interested.scss";
@import "footer.scss";
@import "photo.scss";
@import "presentation.scss";
@import "form.scss";

body {
  font-family: "PTSans", "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  width: 280px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 15px 0;
  margin-bottom: 41px;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
